.container-fluid{
    z-index: 1000;
}
.navbar-toggler-icon{
    filter: invert(1);
}
.offcanvas-header{
    background:  rgb(2, 6, 30) !important;
}
.offcanvas-body{
    background:  rgb(2, 6, 30) !important;
}
.nav-link:hover{
    transition: 0.5s ease-in-out;
    border-bottom: 1px solid yellow;
}
.navbar-nav{
    display: flex;
    gap: 2rem;
}
